In [3]:
# imports
#python3 -m pip install --upgrade example

import numpy as np
import pandas as pd
import os
from tqdm import tqdm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn import svm
from sklearn import preprocessing
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

%matplotlib inline

In [2]:
filenames_list = os.listdir('EEG_Data_handMovements') #lists all files on directory
EEG_Data = pd.DataFrame({}) #creates empty df

for file_name in tqdm(filenames_list): # adds each file from directory on temporary df
    temp_df = pd.read_csv('EEG_Data_handMovements/'+file_name)
    EEG_Data = EEG_Data.append(temp_df) 

EEG_Data.to_csv('users.csv')

  0%|          | 0/4 [00:00<?, ?it/s]C:\Users\Pichau\AppData\Local\Temp\ipykernel_11128\1304392739.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  EEG_Data = EEG_Data.append(temp_df)
 25%|██▌       | 1/4 [00:00<00:00,  7.99it/s]C:\Users\Pichau\AppData\Local\Temp\ipykernel_11128\1304392739.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  EEG_Data = EEG_Data.append(temp_df)
 50%|█████     | 2/4 [00:00<00:00,  7.91it/s]C:\Users\Pichau\AppData\Local\Temp\ipykernel_11128\1304392739.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  EEG_Data = EEG_Data.append(temp_df)
 75%|███████▌  | 3/4 [00:00<00:00,  7.61it/s]C:\Users\Pichau\AppData\Local\Temp\ipykernel_11128\1304392739.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  EEG_Data = EEG_Data.append(temp_df)
100%|██████████| 4/4 [00:00<00:00,  7.87it/s]

In [5]:
#Weighted average 
df_std = EEG_Data[EEG_Data.columns.drop(list(EEG_Data.filter(regex='m')))] #dropping all columns with mean values 'm'
df_std.columns

df_std.to_csv('weighted_avg.csv')

In [4]:
#Mean average 
df_m = EEG_Data[EEG_Data.columns.drop(list(EEG_Data.filter(regex='std')))]
df_m.columns

df_m.to_csv('mean_avg.csv')

In [34]:
EEG_Data.head() #visualize
EEG_Data.columns  

all_columns=['Class','AF3 delta std','AF3 delta m','AF3 theta std','AF3 theta m','AF3 alpha std','AF3 alpha m','AF3 beta std','AF3 beta m','F7 delta std','F7 delta m','F7 theta std','F7 theta m','F7 alpha std','F7 alpha m','F7 beta std','F7 beta m','F3 delta std','F3 delta m','F3 theta std','F3 theta m','F3 alpha std','F3 alpha m','F3 beta std','F3 beta m','FC5 delta std','FC5 delta m','FC5 theta std','FC5 theta m','FC5 alpha std','FC5 alpha m','FC5 beta std','FC5 beta m','T7 delta std','T7 delta m','T7 theta std','T7 theta m','T7 alpha std','T7 alpha m','T7 beta std','T7 beta m','P7 delta std','P7 delta m','P7 theta std','P7 theta m','P7 alpha std','P7 alpha m','P7 beta std','P7 beta m','O1 delta std','O1 delta m','O1 theta std','O1 theta m','O1 alpha std','O1 alpha m','O1 beta std','O1 beta m','O2 delta std','O2 delta m','O2 theta std','O2 theta m','O2 alpha std','O2 alpha m','O2 beta std','O2 beta m','P8 delta std','P8 delta m','P8 theta std','P8 theta m','P8 alpha std','P8 alpha m','P8 beta std','P8 beta m','T8 delta std','T8 delta m','T8 theta std','T8 theta m','T8 alpha std','T8 alpha m','T8 beta std','T8 beta m','FC6 delta std','FC6 delta m','FC6 theta std','FC6 theta m','FC6 alpha std','FC6 alpha m','FC6 beta std','FC6 beta m','F4 delta std','F4 delta m','F4 theta std','F4 theta m','F4 alpha std','F4 alpha m','F4 beta std','F4 beta m','F8 delta std','F8 delta_m','F8 theta std','F8 theta m','F8 alpha std','F8 alpha m','F8 beta std','F8 beta m','AF4 delta std','AF4 delta m','AF4 theta std','AF4 theta m','AF4 alpha std','AF4 alpha m','AF4 beta std','AF4 beta m']
column_names=['AF3 delta std','AF3 delta m','AF3 theta std','AF3 theta m','AF3 alpha std','AF3 alpha m','AF3 beta std','AF3 beta m','F7 delta std','F7 delta m','F7 theta std','F7 theta m','F7 alpha std','F7 alpha m','F7 beta std','F7 beta m','F3 delta std','F3 delta m','F3 theta std','F3 theta m','F3 alpha std','F3 alpha m','F3 beta std','F3 beta m','FC5 delta std','FC5 delta m','FC5 theta std','FC5 theta m','FC5 alpha std','FC5 alpha m','FC5 beta std','FC5 beta m','T7 delta std','T7 delta m','T7 theta std','T7 theta m','T7 alpha std','T7 alpha m','T7 beta std','T7 beta m','P7 delta std','P7 delta m','P7 theta std','P7 theta m','P7 alpha std','P7 alpha m','P7 beta std','P7 beta m','O1 delta std','O1 delta m','O1 theta std','O1 theta m','O1 alpha std','O1 alpha m','O1 beta std','O1 beta m','O2 delta std','O2 delta m','O2 theta std','O2 theta m','O2 alpha std','O2 alpha m','O2 beta std','O2 beta m','P8 delta std','P8 delta m','P8 theta std','P8 theta m','P8 alpha std','P8 alpha m','P8 beta std','P8 beta m','T8 delta std','T8 delta m','T8 theta std','T8 theta m','T8 alpha std','T8 alpha m','T8 beta std','T8 beta m','FC6 delta std','FC6 delta m','FC6 theta std','FC6 theta m','FC6 alpha std','FC6 alpha m','FC6 beta std','FC6 beta m','F4 delta std','F4 delta m','F4 theta std','F4 theta m','F4 alpha std','F4 alpha m','F4 beta std','F4 beta m','F8 delta std','F8 delta_m','F8 theta std','F8 theta m','F8 alpha std','F8 alpha m','F8 beta std','F8 beta m','AF4 delta std','AF4 delta m','AF4 theta std','AF4 theta m','AF4 alpha std','AF4 alpha m','AF4 beta std','AF4 beta m']

In [ ]:
df_m.head()

In [ ]:
df_std.head()

In [35]:
#Data normalization

EEG_Data[column_names] = preprocessing.normalize(EEG_Data[column_names], axis=0)
df = pd.DataFrame(EEG_Data, columns=all_columns)
df.head()

,Class,AF3 delta std,AF3 delta m,AF3 theta std,AF3 theta m,AF3 alpha std,AF3 alpha m,AF3 beta std,AF3 beta m,F7 delta std,...,F8 beta std,F8 beta m,AF4 delta std,AF4 delta m,AF4 theta std,AF4 theta m,AF4 alpha std,AF4 alpha m,AF4 beta std,AF4 beta m
0,1.0,0.009311,0.009313,0.012881,0.015021,0.004803,0.011879,0.005595,0.009634,0.009305,...,0.024823,0.036521,0.009635,0.009790,0.038013,0.033612,0.031620,0.034734,0.021723,0.032796
1,1.0,0.009309,0.009309,0.014605,0.012602,0.011903,0.007337,0.005365,0.007428,0.009304,...,0.019955,0.033712,0.009698,0.009779,0.018431,0.030900,0.038725,0.024312,0.018099,0.030079
2,1.0,0.009308,0.009306,0.021534,0.008701,0.010227,0.007751,0.003857,0.006588,0.009303,...,0.022249,0.033654,0.009696,0.009764,0.037944,0.019194,0.028406,0.016154,0.020282,0.030218
3,1.0,0.009307,0.009305,0.016791,0.012202,0.005746,0.008530,0.003362,0.006515,0.009302,...,0.020787,0.032193,0.009699,0.009765,0.041242,0.023967,0.031201,0.021241,0.018423,0.028991
4,1.0,0.009301,0.009309,0.012969,0.011437,0.006184,0.007106,0.003643,0.005571,0.009302,...,0.019303,0.032504,0.009692,0.009723,0.017613,0.021440,0.029478,0.029471,0.015913,0.029850

In [59]:
df.to_csv('normalized_EEG')

In [36]:
#creating x and y training sets

x = df[['AF3 delta std','AF3 delta m','AF3 theta std','AF3 theta m','AF3 alpha std','AF3 alpha m','AF3 beta std','AF3 beta m','F7 delta std','F7 delta m','F7 theta std','F7 theta m','F7 alpha std','F7 alpha m','F7 beta std','F7 beta m','F3 delta std','F3 delta m','F3 theta std','F3 theta m','F3 alpha std','F3 alpha m','F3 beta std','F3 beta m','FC5 delta std','FC5 delta m','FC5 theta std','FC5 theta m','FC5 alpha std','FC5 alpha m','FC5 beta std','FC5 beta m','T7 delta std','T7 delta m','T7 theta std','T7 theta m','T7 alpha std','T7 alpha m','T7 beta std','T7 beta m','P7 delta std','P7 delta m','P7 theta std','P7 theta m','P7 alpha std','P7 alpha m','P7 beta std','P7 beta m','O1 delta std','O1 delta m','O1 theta std','O1 theta m','O1 alpha std','O1 alpha m','O1 beta std','O1 beta m','O2 delta std','O2 delta m','O2 theta std','O2 theta m','O2 alpha std','O2 alpha m','O2 beta std','O2 beta m','P8 delta std','P8 delta m','P8 theta std','P8 theta m','P8 alpha std','P8 alpha m','P8 beta std','P8 beta m','T8 delta std','T8 delta m','T8 theta std','T8 theta m','T8 alpha std','T8 alpha m','T8 beta std','T8 beta m','FC6 delta std','FC6 delta m','FC6 theta std','FC6 theta m','FC6 alpha std','FC6 alpha m','FC6 beta std','FC6 beta m','F4 delta std','F4 delta m','F4 theta std','F4 theta m','F4 alpha std','F4 alpha m','F4 beta std','F4 beta m','F8 delta std','F8 delta_m','F8 theta std','F8 theta m','F8 alpha std','F8 alpha m','F8 beta std','F8 beta m','AF4 delta std','AF4 delta m','AF4 theta std','AF4 theta m','AF4 alpha std','AF4 alpha m','AF4 beta std','AF4 beta m']]
y = df['Class']

In [9]:
#creating x and y training sets
#WEIGHTED AVERAGE

x_std = df_std[['AF3 delta std', 'AF3 theta std', 'AF3 alpha std',
       'AF3 beta std', 'F7 delta std', 'F7 theta std', 'F7 alpha std',
       'F7 beta std', 'F3 delta std', 'F3 theta std', 'F3 alpha std',
       'F3 beta std', 'FC5 delta std', 'FC5 theta std', 'FC5 alpha std',
       'FC5 beta std', 'T7 delta std', 'T7 theta std', 'T7 alpha std',
       'T7 beta std', 'P7 delta std', 'P7 theta std', 'P7 alpha std',
       'P7 beta std', 'O1 delta std', 'O1 theta std', 'O1 alpha std',
       'O1 beta std', 'O2 delta std', 'O2 theta std', 'O2 alpha std',
       'O2 beta std', 'P8 delta std', 'P8 theta std', 'P8 alpha std',
       'P8 beta std', 'T8 delta std', 'T8 theta std', 'T8 alpha std',
       'T8 beta std', 'FC6 delta std', 'FC6 theta std', 'FC6 alpha std',
       'FC6 beta std', 'F4 delta std', 'F4 theta std', 'F4 alpha std',
       'F4 beta std', 'F8 delta std', 'F8 theta std', 'F8 alpha std',
       'F8 beta std', 'AF4 delta std', 'AF4 theta std', 'AF4 alpha std',
       'AF4 beta std']]
y_std = df_std['Class']

In [10]:
#creating x and y training sets
#Mean average

x_m = df_m[['AF3 delta m', 'AF3 theta m', 'AF3 alpha m', 'AF3 beta m',
       'F7 delta m', 'F7 theta m', 'F7 alpha m', 'F7 beta m', 'F3 delta m',
       'F3 theta m', 'F3 alpha m', 'F3 beta m', 'FC5 delta m', 'FC5 theta m',
       'FC5 alpha m', 'FC5 beta m', 'T7 delta m', 'T7 theta m', 'T7 alpha m',
       'T7 beta m', 'P7 delta m', 'P7 theta m', 'P7 alpha m', 'P7 beta m',
       'O1 delta m', 'O1 theta m', 'O1 alpha m', 'O1 beta m', 'O2 delta m',
       'O2 theta m', 'O2 alpha m', 'O2 beta m', 'P8 delta m', 'P8 theta m',
       'P8 alpha m', 'P8 beta m', 'T8 delta m', 'T8 theta m', 'T8 alpha m',
       'T8 beta m', 'FC6 delta m', 'FC6 theta m', 'FC6 alpha m', 'FC6 beta m',
       'F4 delta m', 'F4 theta m', 'F4 alpha m', 'F4 beta m', 'F8 delta_m',
       'F8 theta m', 'F8 alpha m', 'F8 beta m', 'AF4 delta m', 'AF4 theta m',
       'AF4 alpha m', 'AF4 beta m']]
y_m = df_m['Class']

In [37]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)  #Train and test split

#x_train, x_test, y_train, y_test = train_test_split(x_m,y_m,test_size=0.3, random_state=42) 

#x_train, x_test, y_train, y_test = train_test_split(x_std,y_std,test_size=0.3, random_state=42)

Linear Regression

In [38]:
#training model 
modelLR = LinearRegression()
modelLR=modelLR.fit(x_train,y_train)

coeff = pd.DataFrame(modelLR.coef_,x.columns,columns=['Coefficient'])
coeff

               Coefficient
AF3 delta std  5449.995251
AF3 delta m   -6962.755495
AF3 theta std    -1.526025
AF3 theta m      -1.247366
AF3 alpha std    -0.178132
...                    ...
AF4 theta m      32.782563
AF4 alpha std     1.314153
AF4 alpha m      11.533760
AF4 beta std   -225.769615
AF4 beta m       -2.923390

[112 rows x 1 columns]

In [39]:
predictionsLR = modelLR.predict(x_test)

predictionsLR

y_test.head()

1078    1.0
675     2.0
419     0.0
2134    2.0
2397    0.0
Name: Class, dtype: float64

In [40]:
#error means
print('MAE: ', metrics.mean_absolute_error(y_test,predictionsLR))
print('MSE: ', metrics.mean_squared_error(y_test,predictionsLR))
print('RMSE: ', np.sqrt(metrics.mean_squared_error(y_test,predictionsLR)))

MAE:  0.6658677599904548
MSE:  0.6242803960738186
RMSE:  0.790114166480907

SVM

In [44]:
modelSVM=svm.SVC()
modelSVM.fit(x_train,y_train)
predictSVM = modelSVM.predict(x_test)

Scores

In [42]:
modelLR.score(x_test,y_test)*100

4.33946873657991

In [45]:
modelSVM.score(x_test,y_test)*100

50.04340277777778

In [47]:
print(classification_report(y_test,predictSVM))

              precision    recall  f1-score   support

         0.0       0.48      0.50      0.49       724
         1.0       0.51      0.55      0.53       799
         2.0       0.51      0.45      0.48       781

    accuracy                           0.50      2304
   macro avg       0.50      0.50      0.50      2304
weighted avg       0.50      0.50      0.50      2304

In [49]:
print("\nMatriz de Confusão\r\n",
pd.crosstab(y_test,predictSVM,rownames=['Real'],colnames=['Predito'], margins=True, margins_name='Todos'))
dic_SVM=metrics.classification_report(y_test,predictSVM,target_names=['0.0','1.0','2.0'], output_dict=True)

Confusion matrix
 Predito  0.0  1.0  2.0  Todos
Real
0.0      363  201  160    724
1.0      183  442  174    799
2.0      210  223  348    781
Todos    756  866  682   2304